/* theme based on solarized-dark.less */

@base01: #494949;
@base00: #657b83;
@base03: #33373A;
@base0 : #cacaca;

@body-bg-color: @base03;

@text-color               : @base0;
@text-color-light         : @base0;
@text-color-on-icinga-blue: @base0;
@text-color-inverted      : @base01;

@link-color: @base0;

@gray         : @base0;
@gray-light   : @base01;
@gray-lighter : #00222b;
@gray-lightest: @base01;

@tr-active-color: @base01;
@tr-hover-color : @base01;


#login-footer,
#search,
#social,
#orb-analytics,
#orb-automation,
#orb-cloud,
#orb-infrastructure,
#orb-metrics,
#orb-notifactions {
	display: none !important;
}

.login-form {
	background-color: rgba(30, 30, 30, 0.5) !important;
	border-radius   : 20px !important;
}

#orb-icinga {

	filter : hue-rotate(50deg) !important;
	opacity: 0.1;
}

#header-logo-container {
	padding      : 5px !important;
	padding-left : 0px !important;
	padding-right: 0px !important;
}

textarea,
option,
select {
	background-color: #333333 !important;
	color           : white !important;
}

.errors,
select {
	border-radius: 25px !important;
}

input {
	border-radius   : 25px !important;
	border          : none !important;
	outline         : none !important;
	padding         : 10px !important;
	background-color: #333333 !important;
	color           : white !important;
}

a,
label,
option,
span {

	color: white !important;

}

select {

	background-color: #333333 !important;

}

.button-link {
	color: black !important;
}

.primary-nav {
	margin-top: 15px;
}

ul {

	background-color: #333333 !important;
	margin-right    : 5px !important;

}

li {
	background-color: #333333 !important;
	color           : white !important;
}


.action-link {
	color: @link-color;
}

input,
select {
	background-color: @body-bg-color;
}

// Icinga colors
@icinga-blue: #232323;

#login {
	background-image: url(../img/starwars-dark/wallpaper.jpg);
}

label {
	color: @icinga-blue;
}

#header-logo,
#icinga-logo {
	background-image: url(../img/starwars-dark/icon.png) !important;
}

#layout:not(.minimal-layout).sidebar-collapsed #header-logo {
	background-image: url(../img/starwars-dark/icon.png);
}

#menu {
	background-color: @base01;

	input.search {
		color           : @text-color;
		background-image: url(../img/icons/search_white.png);

		&:focus {
			background-image: url(../img/icons/search_white.png) !important;
		}
	}

	.nav-level-1>.nav-item {
		color: @text-color;

		&.active,
		&:hover {
			color           : #ffffff;
			background-color: #33373a;
		}
	}

	.nav-level-2>.nav-item {
		color           : @text-color;
		background-color: @base03;

		&.active,
		&:hover {
			a {
				color: #ffffff;
			}

			background-color: @base01;
		}
	}

	.nav-itemxx {

		&:hover,
		&:hover>a,
		&.active,
		&.active>a {
			color             : #ffffff !important;
			//background-color: @base01 !important;
		}
	}
}

.boxview a:focus {
	color          : @text-color;
	text-decoration: underline;
}

.icinga-module.module-monitoring {
	@timeline-notification-color  : #1650CF;
	@timeline-hard-state-color    : #A24600;
	@timeline-comment-color       : #346964;
	@timeline-ack-color           : #855D18;
	@timeline-downtime-start-color: #515151;
	@timeline-downtime-end-color  : #5e5e2f;

	// Unfortunately it does not suffice to only override the timeline colors here, because our less compiler seems to
	// have the related style block in module.less already evaluated

	.timeline-notification {
		background-color: @timeline-notification-color;

		&.extrapolated {
			background-color: lighten(@timeline-notification-color, 20%);
		}
	}

	.timeline-hard-state {
		background-color: @timeline-hard-state-color;

		&.extrapolated {
			background-color: lighten(@timeline-hard-state-color, 20%);
		}
	}

	.timeline-comment {
		background-color: @timeline-comment-color;

		&.extrapolated {
			background-color: lighten(@timeline-comment-color, 20%);
		}
	}

	.timeline-ack {
		background-color: @timeline-ack-color;

		&.extrapolated {
			background-color: lighten(@timeline-ack-color, 20%);
		}
	}

	.timeline-downtime-start {
		background-color: @timeline-downtime-start-color;

		&.extrapolated {
			background-color: lighten(@timeline-downtime-start-color, 20%);
		}
	}

	.timeline-downtime-end {
		background-color: @timeline-downtime-end-color;

		&.extrapolated {
			background-color: lighten(@timeline-downtime-end-color, 20%);
		}
	}
}

.icinga-module.module-monitoring {
	.tactical {
		.box {
			border-color: @body-bg-color  !important;
		}

		div.box.contents {
			background: @body-bg-color;
		}
	}
}

.nav-item>a:hover {
	color: #ffffff !important;
}

#toggle-sidebar {
	color: #ffffff !important;
}

#mobile-menu-toggle {
	color     : #ffffff !important;
	text-align: right;
}
